<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href = {{ url_for('static', filename='css/index_style.css') }} >
    </head>
    <body>
        <header>
            <div class="main"> 
                <ul>
                    <li class="active"> <a href="index.html">Home</a></li> 
                    <li> <a href="predict.html">Loan Request</a></li>
                    <li> <a href="about.html">About Us</a></li>
                </ul>
            <div class="title">
                    <h1>LOAN APPROVAL SYSTEM</h1>
            </div>
            <div class="button">
                    <a href="predict.html" class="btn">Loan Request</a>
                    <a href="more.html" class="btn">Learn More</a>
            </div>
            </div>
        </header>
    </body>
</html>